body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul
{
    position: absolute;
    top:0;
    left: 0;
        width:100%;
    height:100vh;
    background: #ccc;
    margin:0;
    padding: 0;
}
ul li
{
    list-style: none;
    position: relative;
    width: 20%;
    height: 100%;
    border-right: 1px solid #000;
    float:left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow:hidden;
}


ul li:nth-child(1)
{
    background-image: url(Alone-Pics-Wallpapers-065.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(2)
{
    background-image: url(new-sad-boy-wallpaper.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(3)
{
    background-image: url(light--collection-mainly-from-wallhaven-and-unsplash-wallpaper.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(4)
{
    background-image: url(praying-man-hands-1.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(5)
{
    background-image: url(DSC_0014_20180910223306865.jpg);
     background-size: cover;
    background-position: left;          
}



ul:hover li
{
    width: 10%;
}
ul li:hover
{
    width: 60%;
}

ul li .content
{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    color:#fff;
    opacity: 0;
}
ul li:hover .content
{
    bottom: 100;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}
